<!DOCTYPE html>
<html lang="en">
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>proyecto1</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
     rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
     integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>   

<!--encabezado-->

   <head>
    <!-- Barra de navegación (navbar) -->
<nav class="navbar bg-info" style="--bs-bg-opacity: .2;">
  <div class="container">
      <a class="navbar-brand text-white" href="login.ejs" method="get">Cerrar sesión</a>
  </div>
</nav>

<link rel="stylesheet" href="main.js">
<style>
  body{
    background-color: #222831;
  }

</style>
</head>
<BR></BR>


<!--contenido de la pagina-->
<body>

  <main class="flex-grow-1 d-flex align-items-center justify-content-center flex-column p-5">   
    <form action="/datos"  method="get" class="mt-3 bg-info p-5 rounded-3" style="--bs-bg-opacity: .2;width: 300px ;">
        <h1 class="text-center text-white">bienvenido</h1>  
          <input type="submit" class="btn btn-info" value="ver informacion">
    </form>
   
  </main>   
       

  <!-- Aquí finalizaría el pie de página  -->

    
</body>
</html>