<!DOCTYPE html>
<html lang="en">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>proyecto</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
     rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
   
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
     integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>  


<!--encabezado-->

<head>
  <link rel="stylesheet" href="main.js">
  <style>
    body{
      background-color: #222831;
    }
  
   
  </style>
</head>

<!-- Aquí comienza el contenido de la página. -->

<body>
  <main class="flex-grow-1 d-flex align-items-center justify-content-center flex-column p-5">   
    <form  action="/" method="post" class="mt-3 bg-info  p-5 rounded-3" style="--bs-bg-opacity: .2;width: 400px ;">
        <div class=" rounded-3  " >
          <nav class="rounded-3">
            <div class="nav-wrapper">
              <h1 class="text-center mb-3    text-white" >INICIAR SESION</h1>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
              </ul>
            </div>
          </nav>
           <!-- Campo de entrada para el nombre de usuario -->
        <div class="mb-3">
          <label for="inputtext" class="form-label   text-white"name=nickname>usuario</label>
          <input type="text" class="form-control bg-primary-subtle" id="nickname" name="nombre" aria-describedby="textHelp" placeholder="ingrese su usuario">
        </div>
 <!-- Campo de entrada para la contraseña -->
        <div class="mb-3">
            <label for="inputtext" class="form-label  text-white" name=pass id=pass>contraseña</label>
            <input type="text" class="form-control  bg-primary-subtle"name="contraseña" id="pass" aria-describedby="textHelp" placeholder="ingrese su contraseña">
         </div>
         <!-- Botón de envío para enviar el formulario -->
         <input type="submit" class="btn btn-info" value="ingresar">
        </div>
         <!-- pie de pagina-->
    </form>
  </main>
</body>



</html>